<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="text-end">
  <%= link_to 'Página do Gestor', manager_path, class:'btn btn-link' %>
</div>

<h1 class="text-center"><i>Modelos Disponíveis</i></h1>
<br>
<%= link_to 'Novo modelo', new_template_path, class:'btn btn-primary' %><br>
<br>
<div class="row">
  <% @templates.each do |template| %>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title"><%= template %></h5>
          <p class="card-text">

          </p>
          <span class="row">
            <%= link_to 'Ver', template_path(template.id), class:'btn btn-secondary mr-2' %>
            <%= button_to 'Remover', template_path(template.id), method: :delete, data: { confirm: 'Tem certeza?' }, class:'btn btn-danger' %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @templates.empty? %>
  <p>Nenhum modelo foi encontrado.</p>
<% end %>
