<h1>Novo modelo</h1>

<%= form_with model: @template, local: true do |form| %>
    <div id="questions-container">
        <%= form.fields_for :questions, @template.questions.build do |question_form| %>
            <%= question_form.label :label, 'Título:' %>
            <%= question_form.text_field :label, name: 'questions[][label]' %><br>
            <%= question_form.label :description, 'Descrição:' %>
            <%= question_form.text_area :description, name: 'questions[][description]' %><br>
        <% end %>
    </div>
    <button type="button" id="add-question" class="btn btn-success rounded-circle font-weight-bold">
        +
    </button>
    <br><br>
    <%= form.submit 'Salvar modelo', class: 'btn btn-primary' %>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('add-question').addEventListener('click', function() {
        var container = document.getElementById('questions-container');

        // Create label for the label input
        var labelInputLabel = document.createElement("label");
        labelInputLabel.setAttribute('for', 'question_label');
        labelInputLabel.textContent = 'Título:';

        var labelInput = document.createElement("input");
        labelInput.setAttribute('type', 'text');
        labelInput.setAttribute('name', 'questions[][label]');
        labelInput.setAttribute('id', 'question_label'); // Ensure the ID matches the 'for' attribute of the label

        // Create label for the description textarea
        var descriptionTextareaLabel = document.createElement("label");
        descriptionTextareaLabel.setAttribute('for', 'question_description');
        descriptionTextareaLabel.textContent = 'Descrição:';

        var descriptionTextarea = document.createElement("textarea");
        descriptionTextarea.setAttribute('name', 'questions[][description]');
        descriptionTextarea.setAttribute('id', 'question_description'); // Ensure the ID matches the 'for' attribute of the label

        container.appendChild(labelInputLabel);
        container.appendChild(labelInput);
        container.appendChild(document.createElement("br"));
        container.appendChild(descriptionTextareaLabel);
        container.appendChild(descriptionTextarea);
        container.appendChild(document.createElement("br"));
    });
});
</script>
